!!! 5
%html
  %head
    %title= "Netflix"
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}
  %body

    %table{:class => "table table-bordered table-striped table-hover"}
      %tr
        %th Poster
        %th Tittle
        %th Year
        %th Country
        %th Date
        %th Genre
        %th Time
        %th Raiting
        %th Producer
        %th Actors
        %th Budget
      - movies.each do |i|
        %tr
          %td
            %img{:src => i.poster}
          %td= i.tittle
          %td= i.year
          %td= i.country
          %td= i.date
          %td= i.genre.join(', ')
          %td= i.time
          %td= i.raiting
          %td= i.producer
          %td= i.actors[0]
          %td= i.budget

